body{
    background: rgb(34, 39, 46);
    font: normal 15pt arial;
}

header{
    color:white;
    text-align: center;
}

section{
    background: white; /*Cor de Fundo*/
    border-radius: 10px; /*Arredondamento das Bordas*/
    padding: 15px; /*Sobreposição branca na tela*/
    width: 350px; /*Espaçamento Lateral*/
    margin: auto;
    box-shadow: 3px 3px 10px rgb(0, 0, 0.363);
    
}

select{
    width: 150px;
}

footer{
    color:white;
    text-align: center;
    font-style: italic;
}
div{
    margin-top: 10px;
    text-align: center;
}

